@tailwind base;
@tailwind components;
@tailwind utilities;

:root  {
    --background: 0 0% 95%;
    --foreground: 0 0% 0%;
    --card: 0 0% 90%;
    --card-foreground: 0 0% 10%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 95% 0%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 10% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -38 10% 85%;
    --muted-foreground: 0 0% 35%;
    --accent: -38 10% 80%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 20% 50%;
    --input: 0 20% 18%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;

    --home-background: 0 0% 2%;
}
.dark  {
    --background: var(--home-background);
    --foreground: 0 0% 90%;
    --card: 0 0% 0%;
    --card-foreground: 0 0% 90%;
    --popover: 0 10% 5%;
    --popover-foreground: 0 0% 90%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 0 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -38 10% 15%;
    --muted-foreground: 0 0% 60%;
    --accent: -38 10% 15%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 0 0% 90%;
    --border: 0 20% 18%;
    --input: 0 20% 18%;
    --ring: 0 0% 100%;
    --radius: 0.5rem;

    --home-background: 0 0% 2%;
}
